.container{
    align-items: center;
}
.button{
    justify-content: center;
    align-items: center;
    border: 1px solid black ;
    padding: 1px 25px 1px 25px;
    border-radius: 25px;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    display: flex;
}

.title{
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

.navitems{
    font-size: 16px;
}

.navitems2{
    font-size: 24px;
}

.navitem:active{
    font-weight: bold;
}